@font-face {
	font-family: "ProFont";
	src: url(ProFontWindows.ttf);
}

@font-face {
	font-family: "ProFontBold";
	src: url(ProFontWindows-Bold.ttf);
}

body {
	/*background-color: #282b34;*/
	background-image: url(bg.jpg);
	width:100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

p {
	color: #a3a8b8;
	font-family: "ProFont";
	font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ProFont";
	color: #282b34;
}

h1 {
	text-align: center;
}

ul, ol {
	list-style-type: none;
	text-align: left;
	float: left;
	padding: 1em;
}

li {
	color: #282b34;
	font-family: "ProFont";
}

a {
	color: #282b34;
	text-decoration: none;
}

#lists {
	margin: 0 auto;
	display: inline-block;
	background-color: #90939b;
}

#header1 {
	background-color: #90939b;
	padding: 1em;
	width: 30%;
	margin: auto;
}
/*
#bgdiv {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-position: center-top;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	min-width: 1600px;
	min-height: 900px;
	max-width: 1920px;
	max-height: 1080px;
    margin: 0 auto;
}
*/
