/*@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Titillium+Web);
}*/
@font-face {
	font-family: "Manifesto";
	src: url(MANIFESTO.ttf);
}
/*
@font-face {
	font-family: "Neverwinter";
	src: url(neverwinter.ttf);
}
*/
@font-face {
	font-family: "Ikaros";
	src: url(IkarosRegular.otf);
}

body {
	background-color: #1D1E2A;
	width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    text-align: center;
}

.bg {
	//min-height: 100%;
	//min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -5;
}

#smallbg {
	display: none;
}

#outerdiv {
	position: absolute;
	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	min-width: 1024px;
}

p {
	color: #777777;
	font-family: "Ikaros";
	font-size: 150%;
}

h1 {
	font-family: "Manifesto";
	color: #777777;
	font-size: 300%;
}

#link {
	margin: auto;
	max-width: 1040px;
}

.linklist {
	list-style-type: none;
	text-align: left;
	float: left;
	padding: 1em;
}

.linklist li {
	color: #777777;
	font-family: "Ikaros";
}

li.title {
	font-size: 130%;
}  

a {
	color: #777777;
	font-family: "Ikaros";
	text-decoration: none;
}


#forecast_embed {
	background-color: rgba(119, 119, 119, .9); 
	max-width: 1024px;
	width: 100%;
}

#refreshWeather {
	background: #777777;
	font-family: "Ikaros";
	color: #1D1E2A;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border: 0px;
	float: right;
}



//extra shit from that example online
#search {
	padding-top: 80px;
	float: right;
}

#tfnewsearch{
	float:right;
	padding:20px;
}

.tftextinput{
	margin: 0;
	padding: 5px 15px;
	font-family: "Ikaros";
	font-size:14px;
	background-color: #777777;
	color: #1D1E2A;
	border: 0px;
}

.tfclear{
	clear:both;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #search {
    	float: none;
    }

    #tfnewsearch {
    	float: none;
    }

    .tftextinput {
    	padding: 0px;
    	max-width: 300px;
    	width: 100%;
    }

    .linklist {
    	display: none;
    }

    #forecast_embed {
    	max-width: 300px;
    }

    #outerdiv {
    	min-width: 0px;
    	left: 0%;
  		top: 0%;
	  	-webkit-transform: translate(0%, 0%);
  		transform: translate(0%, 0%);
  		position: relative;
    }

    body {
    	margin-top: 0%;
    }

    h1 {
    	font-size: 125%;
    	padding-top: 20px; 
    }

    #largebg {
    	display: none;
    }

    #smallbg {
    	display: block;
    }
}